@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3B060A;
    --color-secondary: #8A0000;
    --color-tertiary: #C83F12;
    --color-accent: #FFF287;
  }
}

@layer utilities {
  .bg-primary { background-color: var(--color-primary); }
  .text-primary { color: var(--color-primary); }
  .border-primary { border-color: var(--color-primary); }
  
  .bg-secondary { background-color: var(--color-secondary); }
  .text-secondary { color: var(--color-secondary); }
  .border-secondary { border-color: var(--color-secondary); }
  
  .bg-tertiary { background-color: var(--color-tertiary); }
  .text-tertiary { color: var(--color-tertiary); }
  .border-tertiary { border-color: var(--color-tertiary); }
  
  .bg-accent { background-color: var(--color-accent); }
  .text-accent { color: var(--color-accent); }
  .border-accent { border-color: var(--color-accent); }
  
  .hover\:bg-primary:hover { background-color: var(--color-primary); }
  .hover\:text-primary:hover { color: var(--color-primary); }
  .hover\:border-primary:hover { border-color: var(--color-primary); }
  
  .hover\:bg-secondary:hover { background-color: var(--color-secondary); }
  .hover\:text-secondary:hover { color: var(--color-secondary); }
  .hover\:border-secondary:hover { border-color: var(--color-secondary); }
  
  .hover\:bg-tertiary:hover { background-color: var(--color-tertiary); }
  .hover\:text-tertiary:hover { color: var(--color-tertiary); }
  .hover\:border-tertiary:hover { border-color: var(--color-tertiary); }
  
  .hover\:bg-accent:hover { background-color: var(--color-accent); }
  .hover\:text-accent:hover { color: var(--color-accent); }
  .hover\:border-accent:hover { border-color: var(--color-accent); }
}